.acf-field-5d092a6b6ad62,
.acf-field-5d092c3d548d7,
.acf-field-5d092e50f5b74 {
  display: none;
}

.acf-tooltip [data-layout="copy_and_images"] {
  display: none;
}

.acf-field-5d0cec9858fac,
.acf-field-5d0cee9358fad,
.acf-field-5d0cef82ac011,
.acf-field-5d0cefacac012,
.acf-field-5d0cefe5ac013,
.acf-field-5d0cf01cac014 {
  display: none;
}

.acf-field-5d0d1b1bd56fb,
.acf-field-5d0d1b6ed56fc,
.acf-field-5d0d1bb8d56fd,
.acf-field-5d0d1c2cd56fe,
.acf-field-5d0d1c4ed56ff,
.acf-field-5d0d1c86d5701 {
  display: none;
}

.acf-field-5d1b8c6954784 {
  display: none;
}
