.metro {
	&.page-features,
	&.page-amenities {
		#hero-container {
			#hero-image {
				.img-container {
					img {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}

.sylvan {
	&.page-features,
	&.page-amenities {
		#hero-container {
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			@include breakpoint(twelve) {
				@include flex-direction(row-reverse);
				padding: 0 25px;
			}
			.sylvan-header-background {
				display: none;
				@include breakpoint(twelve) {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 200%;
					margin-left: -50%;
				}
			}
			#hero-image {
				@include breakpoint(ten){ padding: 0 50px; }
				@include breakpoint(twelve) { padding: 0; }
				.img-container {
					.pattern {
						width: 50px;
						height: 100%;
						background: red;
						left: 0;
						@include breakpoint(twelve){ left: -50px; }
					}
			 		img {
			 			margin-left: auto;
						display: block;
						width: calc(100% - 50px);
						@include breakpoint(twelve){
							margin: 0;
							width: auto;
						}
					}
				}
			}
			#hero-content {
				@include breakpoint(tablet){ margin: 50px; }
				@include breakpoint(twelve){ margin: 0 100px; }
				.header-content {
					margin: 50px auto;
					@include breakpoint(tablet){
						padding: 0;
						margin: 0;
					}
					@include breakpoint(twelve){
						padding: 0 20px;
						margin: 100px auto;
					}
				}
			}
		}
	}
}