// Colors
$white: #FFFFFF;
$black: #1B1818;
$gray: #989898;
$medgray: #c9c9c9;
$darkgray: #434341;
$red : #ff0000;

// Fonts
$base-font-size: 1.4rem;
$base-line-height: 1.5;
$regular: 400;
$semibold: 600;
$bold: 900;

// General texts
$xxs:0.9;
$xs:1.2;
$s:1.6;
$m:1.8;
$l:2.2;
$xl:2.8;
$xxl:3.4;
$xxxl:5.0;

// Max width
$max: 1366px;