.ease {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#slideout #slideout-button-container .button-wrap {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
}
#slideout #slideout-content .title {
  font-family: "Fjalla One", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
@media only screen and (min-width: 768px) {
  #slideout #slideout-content .title {
    font-size: 26px;
    font-size: 2.6rem;
  }
}
#slideout #slideout-content .copy, #slideout #slideout-content .disclaimer, #slideout #slideout-content .phone {
  font-family: "Nunito Sans", sans-serif;
}
#slideout #slideout-content .button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}

#header .phone, #header #secondary-navigation {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
#header .mobile-icon a {
  font-size: 22px;
  font-size: 2.2rem;
}
#header.scroll .phone, #header .logo-scroll {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}

#navigation-container .inner-container .mobile-contact-info .social-icons a {
  font-size: 22px;
  font-size: 2.2rem;
}
#navigation-container .inner-container .mobile-contact-info .property-name,
#navigation-container .inner-container .mobile-contact-info .address-container a,
#navigation-container .inner-container .mobile-contact-info .phone a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
#navigation-container .inner-container .residents, #navigation-container .inner-container #navigation {
  font-family: "Nunito Sans", sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
}
#navigation-container .inner-container .navigation-wrapper #navigation ul#menu-main-menu li a {
  font-size: 22px;
  font-size: 2.2rem;
}
@media only screen and (min-width: 768px) {
  #navigation-container .inner-container .navigation-wrapper #navigation ul#menu-main-menu li a {
    font-size: 32px;
    font-size: 3.2rem;
  }
}
#navigation-container .inner-container .navigation-wrapper .social-icons a {
  font-size: 22px;
  font-size: 2.2rem;
}

#footer {
  font-family: "Nunito Sans", sans-serif;
}
#footer .contact-info .property-name {
  font-size: 18px;
  font-size: 1.8rem;
}
#footer .contact-info .address-container, #footer .contact-info .phone {
  font-size: 16px;
  font-size: 1.6rem;
}
#footer .sub-footer {
  font-size: 14px;
  font-size: 1.4rem;
}
#footer .sub-footer .eho-handicap {
  font-size: 20px;
  font-size: 2rem;
}

#hero-image .caption span {
  font-family: "Fjalla One", sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
}
@media only screen and (min-width: 768px) {
  #hero-image .caption span {
    font-size: 64px;
    font-size: 6.4rem;
    line-height: 1.25;
  }
}
#hero-image.style-2 .caption span {
  line-height: 2.25;
}
@media only screen and (min-width: 768px) {
  #hero-image.style-2 .caption span {
    line-height: 1.25;
  }
}

.block .headline {
  font-family: "Fjalla One", sans-serif;
}
.block h1 {
  font-size: 34px;
  font-size: 3.4rem;
}
.block h2, .block h3 {
  font-size: 27px;
  font-size: 2.7rem;
}
.block .copy {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.75;
}
.block .disclaimer {
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
  line-height: 1.25;
  font-size: 16px;
  font-size: 1.6rem;
}
.block .button {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 14px;
  font-size: 1.4rem;
}
.block.floor-plans .floor-plan-container .floor-plan-carousel .floor-plan-wrapper .label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
.block .social-wrap-inner .label {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 10px;
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .block .social-wrap-inner .label {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
.block .lists-container ul {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
.block .lists-container .disclaimer {
  font-style: italic;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}

#map-container .category-filter ul#map-categories {
  display: none;
}
@media only screen and (min-width: 768px) {
  #map-container .category-filter ul#map-categories {
    display: block;
  }
}
#map-container .category-filter ul#map-categories li {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#map-container .map-wrap #categories {
  font-family: "Nunito Sans", sans-serif;
}
#map-container .map-wrap #categories li.parent span {
  font-size: 14px;
  font-size: 1.4rem;
}
#map-container .map-wrap #categories li.parent ul.children li.poi span {
  font-size: 14px;
  font-size: 1.4rem;
}

#blog .categories, #category .categories {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#blog .posts-container .post .post-info, #category .posts-container .post .post-info {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.75;
}
#blog .posts-container .post .post-info a.post-link h2.title, #category .posts-container .post .post-info a.post-link h2.title {
  font-family: "Fjalla One", sans-serif;
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 1;
}

.single-post .post-wrapper .post-content .left .block.simple-content .date {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  font-size: 1.6rem;
}
.single-post .post-wrapper .post-content .left .block.full-image .img-caption {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}
.single-post .post-wrapper .post-content .left .block.content-with-image .copy .in-content-image .img-caption {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}
.single-post .post-wrapper .post-content .right {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
.single-post .post-wrapper .post-content .right #back-to-blog {
  font-weight: 900;
}
.single-post .post-wrapper .post-content .right .categories h2 {
  font-weight: 900;
}

#contact .content .contact-info h2.label {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
}
#contact .content .contact-info .property-info .address-container a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
#contact .content .contact-info .property-info .phone a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
#contact .content .contact-info .office-hours {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
#contact .content .contact-form #form_contact-form .frm_error_style, #contact .content .contact-form #form_contact-form .frm_error {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#contact .content .contact-form #form_contact-form .frm_fields_container .row .form-field label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#contact .content .contact-form #form_contact-form .frm_fields_container .row .form-field input[type="text"],
#contact .content .contact-form #form_contact-form .frm_fields_container .row .form-field input[type="email"],
#contact .content .contact-form #form_contact-form .frm_fields_container .row .form-field input[type="tel"] {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#contact .content .contact-form #form_contact-form .frm_fields_container .full-row label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#contact .content .contact-form #form_contact-form .frm_fields_container .full-row textarea {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#contact .content .contact-form #form_contact-form .frm_fields_container .frm_submit button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
#contact .content #kingsley-content .average-rating .review-info .average {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
}
#contact .content #kingsley-content .average-rating .review-info .total-reviews {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
#contact .content #kingsley-content .review-wrapper .slick-arrow .label {
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 900;
}
#contact .content #kingsley-content .review-wrapper .slick-list .review {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#contact .content #kingsley-content .review-wrapper .slick-list .review .review-details .user {
  font-weight: 900;
}
#contact .content #kingsley-content .review-wrapper .slick-list .review .review-text {
  line-height: 1.25;
}
#contact .content #kingsley-content .confing-error {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}

.pet-policy.block .right .pet-policy .policy-row {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 900;
}

#gallery .ddl-label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#gallery ul#categories {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
}

#lightbox-wrapper #lightbox-container #lightbox #lightbox-caption {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 18px;
  font-size: 1.8rem;
}

#slider-gallery .slider-wrapper #image-gallery .slick-dots li {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
}
#slider-gallery .slider-wrapper #image-gallery .slick-list .slick-track .slide .caption {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
}

#floorplans #floor-plan-categories li {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
#floorplans #floor-plan-results .unit-wrapper .unit-details .name {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  font-size: 2rem;
}
#floorplans #floor-plan-results .unit-wrapper .unit-details .beds-baths,
#floorplans #floor-plan-results .unit-wrapper .unit-details .sqft,
#floorplans #floor-plan-results .unit-wrapper .unit-details .price {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}
#floorplans #floor-plan-results .unit-wrapper .bottom-container .availability {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
}
#floorplans #floor-plan-results .unit-wrapper .bottom-container .view-units,
#floorplans #floor-plan-results .unit-wrapper .bottom-container .contact a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}

.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .unit-details .name {
  font-family: "Fjalla One", sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
}
.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .unit-details .unit-details-bottom {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container .count, .page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #no-results {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results thead#results-head tr th {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr td {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details #disclaimer {
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
}
