.ease, .blue #nav-trigger .trigger-wrap span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.blue {
  background: #d9e3ed;
}
.blue #slideout #slideout-button-container {
  background: #555cde;
  color: #FFFFFF;
}
.blue #slideout #slideout-content {
  background: #555cde;
  color: #FFFFFF;
}
.blue #slideout #slideout-content .phone a {
  color: #FFFFFF;
}
.blue #slideout #slideout-content .phone a:hover {
  color: #000000;
}
.blue #slideout #slideout-content .button {
  background: #FFFFFF;
}
.blue #slideout #slideout-content .button a {
  color: #000000;
}
.blue #slideout #slideout-content .button:hover {
  background: #000000;
}
.blue #slideout #slideout-content .button:hover a {
  color: #FFFFFF;
}
.blue #header {
  background: #FFFFFF;
}
.blue #header .phone a {
  color: #283074;
}
.blue #header .phone a:hover {
  color: #98b3d2;
}
.blue #header a.logo-scroll {
  color: #283074;
}
.blue #header a.logo-scroll:hover {
  color: #98b3d2;
}
.blue #header .mobile-icon a {
  color: #555cde;
}
.blue #header #secondary-navigation ul#menu-secondary-menu li a {
  color: #283074;
}
.blue #header #secondary-navigation ul#menu-secondary-menu li a:hover {
  color: #98b3d2;
}
.blue #nav-trigger .trigger-wrap span {
  background: #283074;
}
.blue #nav-trigger .trigger-wrap:hover span {
  background: #98b3d2;
}
.blue #nav-trigger.active .trigger-wrap span {
  background: #283074;
}
@media only screen and (min-width: 768px) {
  .blue #nav-trigger.active .trigger-wrap span {
    background: #FFFFFF;
  }
}
.blue #navigation-container {
  background: #283074;
}
.blue #navigation-container .inner-container .residents {
  border-top-color: #FFFFFF;
}
.blue #navigation-container .inner-container .residents a {
  color: #FFFFFF;
}
.blue #navigation-container .inner-container .residents a:hover {
  color: #555cde;
}
.blue #navigation-container .inner-container .navigation-wrapper {
  border-color: #FFFFFF;
}
.blue #navigation-container .inner-container .navigation-wrapper #navigation ul li a {
  color: #FFFFFF;
}
.blue #navigation-container .inner-container .navigation-wrapper #navigation ul li a:hover {
  color: #555cde;
}
.blue #navigation-container .inner-container .navigation-wrapper .social-icons a {
  color: #FFFFFF;
}
.blue #navigation-container .inner-container .navigation-wrapper .social-icons a:hover {
  color: #555cde;
}
.blue #navigation-container .inner-container .mobile-contact-info {
  border-color: #FFFFFF;
}
.blue #navigation-container .inner-container .mobile-contact-info .property-name {
  color: #FFFFFF;
}
.blue #navigation-container .inner-container .mobile-contact-info .social-icons a, .blue #navigation-container .inner-container .mobile-contact-info .address-container a, .blue #navigation-container .inner-container .mobile-contact-info .phone a {
  color: #FFFFFF;
}
.blue #navigation-container .inner-container .mobile-contact-info .social-icons a:hover, .blue #navigation-container .inner-container .mobile-contact-info .address-container a:hover, .blue #navigation-container .inner-container .mobile-contact-info .phone a:hover {
  color: #555cde;
}
.blue #cross-links-pattern.pattern-wrapper {
  background: #283074;
}
.blue #cross-links-pattern.pattern-wrapper .pattern {
  background: #98b3d2;
}
.blue .crosslink-block {
  background: #283074;
  color: #FFFFFF;
}
.blue .crosslink-block .button-wrapper .button {
  background: #555cde;
}
.blue .crosslink-block .button-wrapper .button a {
  color: #FFFFFF;
}
.blue .crosslink-block .button-wrapper .button:hover {
  background: #d9e3ed;
}
.blue .crosslink-block .button-wrapper .button:hover a {
  color: #000000;
}
.blue .contact-form #form_contact-form .frm_error_style, .blue .contact-form #form_contact-form .frm_error {
  color: #283074;
}
.blue .contact-form #form_contact-form .frm_fields_container .row .frm_form_field input, .blue .contact-form #form_contact-form .frm_fields_container .row .frm_form_field textarea {
  border-color: #98b3d2;
}
.blue .contact-form #form_contact-form .frm_fields_container .full-row input, .blue .contact-form #form_contact-form .frm_fields_container .full-row textarea {
  border-color: #98b3d2;
}
.blue .contact-form #form_contact-form .frm_fields_container .frm_submit button {
  background: #000000;
  color: #FFFFFF;
}
.blue .contact-form #form_contact-form .frm_fields_container .frm_submit button:hover {
  background: #283074;
}
.blue #footer-pattern.pattern-wrapper {
  background: #283074;
}
.blue #footer-pattern.pattern-wrapper .pattern {
  background: #d9e3ed;
}
.blue #footer {
  background: #FFFFFF;
  color: #283074;
}
.blue #footer span {
  color: #283074;
}
.blue #footer a {
  color: #283074;
}
.blue #footer a:hover {
  color: #98b3d2;
}
.blue #footer .social-icons {
  border-color: #283074;
}
.blue #hero-image .caption span.default, .blue #hero-image .caption span.white {
  color: #FFFFFF;
}
.blue #hero-image .caption span.black {
  color: #000000;
}
.blue #hero-image .caption span.accent {
  color: #555cde;
}
.blue #hero-image .caption span.light {
  color: #d9e3ed;
}
.blue #hero-image .caption span.medium {
  color: #98b3d2;
}
.blue #hero-image .caption span.dark {
  color: #283074;
}
.blue #hero-image .pattern {
  background: #FFFFFF;
}
.blue #hero-image.style-1 .caption.default, .blue #hero-image.style-1 .caption.accent {
  background: #555cde;
}
.blue #hero-image.style-1 .caption.black {
  background: #000000;
}
.blue #hero-image.style-1 .caption.white {
  background: #FFFFFF;
}
.blue #hero-image.style-1 .caption.light {
  background: #d9e3ed;
}
.blue #hero-image.style-1 .caption.medium {
  background: #98b3d2;
}
.blue #hero-image.style-1 .caption.dark {
  background: #283074;
}
.blue #hero-image.style-2 .caption span.wrapper.default, .blue #hero-image.style-2 .caption span.wrapper.accent {
  background: #555cde;
  box-shadow: 25px 0 0 #555cde, -25px 0 0 #555cde;
}
.blue #hero-image.style-2 .caption span.wrapper.black {
  background: #000000;
  box-shadow: 25px 0 0 #000000, -25px 0 0 #000000;
}
.blue #hero-image.style-2 .caption span.wrapper.white {
  background: #FFFFFF;
  box-shadow: 25px 0 0 #FFFFFF, -25px 0 0 #FFFFFF;
}
.blue #hero-image.style-2 .caption span.wrapper.light {
  background: #d9e3ed;
  box-shadow: 25px 0 0 #d9e3ed, -25px 0 0 #d9e3ed;
}
.blue #hero-image.style-2 .caption span.wrapper.medium {
  background: #98b3d2;
  box-shadow: 25px 0 0 #98b3d2, -25px 0 0 #98b3d2;
}
.blue #hero-image.style-2 .caption span.wrapper.dark {
  background: #283074;
  box-shadow: 25px 0 0 #283074, -25px 0 0 #283074;
}
.blue #hero-image.style-2 .caption span.text.default, .blue #hero-image.style-2 .caption span.text.white {
  color: #FFFFFF;
}
.blue #hero-image.style-2 .caption span.text.black {
  color: #000000;
}
.blue #hero-image.style-2 .caption span.text.accent {
  color: #555cde;
}
.blue #hero-image.style-2 .caption span.text.light {
  color: #d9e3ed;
}
.blue #hero-image.style-2 .caption span.text.medium {
  color: #98b3d2;
}
.blue #hero-image.style-2 .caption span.text.dark {
  color: #283074;
}
.blue #hero.no-image {
  background: #283074;
}
.blue #hero.no-image .pattern {
  background: #98b3d2;
}
.blue #hero.no-image .container .header-content .headline {
  color: #FFFFFF;
}
.blue #hero.no-image .container .header-content .copy {
  color: #FFFFFF;
}
.blue .block .button {
  background: #000000;
}
.blue .block .button a {
  color: #FFFFFF;
}
.blue .block .button:hover {
  background: #283074;
}
.blue .block.simple-content {
  background: #283074;
}
.blue .block.simple-content .headline, .blue .block.simple-content .copy {
  color: #FFFFFF;
}
.blue .block.simple-content .button {
  background: #555cde;
}
.blue .block.simple-content .button a {
  color: #FFFFFF;
}
.blue .block.simple-content .button:hover {
  background: #d9e3ed;
}
.blue .block.simple-content .button:hover a {
  color: #000000;
}
.blue .block.simple-content.first, .blue .block.simple-content.last {
  background: none;
}
.blue .block.simple-content.first .headline, .blue .block.simple-content.first .copy, .blue .block.simple-content.last .headline, .blue .block.simple-content.last .copy {
  color: #000000;
}
.blue .block.simple-content.first .button, .blue .block.simple-content.last .button {
  background: #000000;
}
.blue .block.simple-content.first .button a, .blue .block.simple-content.last .button a {
  color: #FFFFFF;
}
.blue .block.simple-content.first .button:hover, .blue .block.simple-content.last .button:hover {
  background: #283074;
}
.blue .block.floor-plans .floor-plan-container {
  background: #FFFFFF;
}
.blue .block.floor-plans .floor-plan-container .floor-plan-carousel .slick-dots li button {
  background: #98b3d2;
}
.blue .block.floor-plans .floor-plan-container .floor-plan-carousel .slick-dots li.slick-active button, .blue .block.floor-plans .floor-plan-container .floor-plan-carousel .slick-dots li:hover button {
  background: #555cde;
}
.blue .block.variable-content .variable-content-content {
  background: #FFFFFF;
}
.blue .block.variable-content .variable-content-content .button {
  background: #555cde;
}
.blue .block.variable-content .variable-content-content .button a {
  color: #FFFFFF;
}
.blue .block.variable-content .variable-content-content .button:hover {
  background: #283074;
}
.blue .block.variable-content .variable-content-content .button:hover a {
  color: #FFFFFF;
}
.blue .block.variable-content .variable-content-fill {
  background: #555cde;
}
.blue .block.variable-content .variable-content-fill-pattern {
  background: #FFFFFF;
}
.blue .block.variable-content .variable-content-fill-pattern .pattern {
  background-color: #d9e3ed;
}
.blue .block.variable-content .accent-pattern {
  background-color: #FFFFFF;
}
.blue .block.pattern-wrapper {
  background: #98b3d2;
}
.blue .block.pattern-wrapper .pattern-bg {
  background-color: #d9e3ed;
}
.blue .block.instagram .layout-three .social-wrap, .blue .block.instagram .layout-six .social-wrap {
  background: #FFFFFF;
}
.blue .block.instagram .layout-three .social-wrap .social-wrap-pattern, .blue .block.instagram .layout-six .social-wrap .social-wrap-pattern {
  background: #d9e3ed;
}
.blue .block.instagram .layout-three .social-wrap .social-wrap-inner, .blue .block.instagram .layout-six .social-wrap .social-wrap-inner {
  background: #555cde;
}
.blue .block.instagram .layout-three .social-wrap .social-wrap-inner .label, .blue .block.instagram .layout-six .social-wrap .social-wrap-inner .label {
  color: #FFFFFF;
}
.blue .block.instagram .layout-three .social-wrap .social-wrap-inner .social-icons a, .blue .block.instagram .layout-six .social-wrap .social-wrap-inner .social-icons a {
  color: #FFFFFF;
}
.blue .block.instagram .layout-three .social-wrap .social-wrap-inner .social-icons a:hover, .blue .block.instagram .layout-six .social-wrap .social-wrap-inner .social-icons a:hover {
  color: #000000;
}
.blue #map-container .category-filter li {
  color: #283074;
}
.blue #map-container .category-filter li.active, .blue #map-container .category-filter li:hover {
  color: #000000;
  text-decoration: underline;
}
.blue #map-container .map-wrap {
  border-top: 2px solid #283074;
  border-bottom: 2px solid #283074;
  border-left: 2px solid #283074;
}
.blue #map-container .map-wrap ul#categories {
  background: #283074;
}
.blue #map-container .map-wrap ul#categories span {
  color: #FFFFFF;
}
.blue #map-container .map-wrap ul#categories ul.children li:hover span, .blue #map-container .map-wrap ul#categories ul.children li.active span {
  color: #98b3d2;
  font-weight: 900;
}
.blue #blog .content .categories ul.categories-list li.cat-item, .blue #category .content .categories ul.categories-list li.cat-item {
  color: #283074;
}
.blue #blog .content .categories ul.categories-list li.cat-item a, .blue #category .content .categories ul.categories-list li.cat-item a {
  color: #283074;
}
.blue #blog .content .categories ul.categories-list li.cat-item a:hover, .blue #category .content .categories ul.categories-list li.cat-item a:hover {
  color: #000000;
  text-decoration: underline;
}
.blue #blog .content .posts-container .post .post-info, .blue #category .content .posts-container .post .post-info {
  color: #000000;
}
.blue #blog .content .posts-container .post .post-info a.post-link, .blue #category .content .posts-container .post .post-info a.post-link {
  color: #000000;
}
.blue #blog .content .posts-container .post .post-info a.post-link:hover, .blue #category .content .posts-container .post .post-info a.post-link:hover {
  color: #98b3d2;
}
.blue #blog .content .posts-container .post .post-info a.read-more, .blue #category .content .posts-container .post .post-info a.read-more {
  font-weight: 900;
  color: #000000;
}
.blue #blog .content .posts-container .post .post-info a.read-more:hover, .blue #category .content .posts-container .post .post-info a.read-more:hover {
  color: #98b3d2;
}
.blue #single-post .post-wrapper .post-content .left .block.simple-content {
  background: none;
}
.blue #single-post .post-wrapper .post-content .left .block.simple-content .headline, .blue #single-post .post-wrapper .post-content .left .block.simple-content .copy {
  color: #000000;
}
.blue #single-post .post-wrapper .post-content .left .block.content-with-image .copy .in-content-image .img-caption {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}
.blue #single-post .post-wrapper .post-content .right #back-to-blog a {
  color: #000000;
}
.blue #single-post .post-wrapper .post-content .right #back-to-blog a:hover {
  color: #555cde;
}
.blue #single-post .post-wrapper .post-content .right .categories h2 {
  border-color: #000000;
}
.blue #single-post .post-wrapper .post-content .right .categories ul.categories-list li a {
  color: #000000;
}
.blue #single-post .post-wrapper .post-content .right .categories ul.categories-list li a:hover {
  color: #555cde;
}
.blue #contact .content .contact-info h2.label {
  color: #000000;
}
.blue #contact .content .contact-info .property-info .address-container a {
  color: #000000;
}
.blue #contact .content .contact-info .property-info .address-container a:hover {
  color: #98b3d2;
}
.blue #contact .content .contact-info .property-info .phone a {
  color: #000000;
}
.blue #contact .content .contact-info .property-info .phone a:hover {
  color: #98b3d2;
}
.blue #contact .content .contact-info .property-info .social-icons a.icon {
  color: #000000;
}
.blue #contact .content .contact-info .property-info .social-icons a.icon:hover {
  color: #98b3d2;
}
.blue #contact .content .contact-info .office-hours {
  color: #000000;
}
.blue #contact .content #kingsley-content .average-rating .stars > span {
  color: #283074;
}
.blue #contact .content #kingsley-content .review-wrapper {
  border-color: #98b3d2;
}
.blue #contact .content #kingsley-content .review-wrapper .slick-list .review .star-container .stars span {
  color: #283074;
}
.blue #thank-you .pattern, .blue #error404 .pattern {
  background: #FFFFFF;
}
.blue .pet-policy.block .right .pet-policy .policy-row {
  color: #000000;
}
.blue #gallery-header-content {
  background: #FFFFFF;
}
.blue #gallery {
  background: #FFFFFF;
}
.blue #gallery ul#categories {
  color: #98b3d2;
}
.blue #gallery ul#categories li.active {
  color: #000000;
}
.blue #gallery #bottom-content {
  background: #d9e3ed;
}
.blue #videos-wrapper {
  background: #d9e3ed;
}
.blue #tours-wrapper {
  background: #FFFFFF;
}
.blue #tours-wrapper .tour-container .tours-pattern {
  background: #d9e3ed;
}
.blue #slider-gallery .slider-wrapper #image-gallery .slick-list .slick-track .slide .caption {
  background: rgba(217, 227, 237, 0.98);
}
.blue #lightbox-wrapper #lightbox-container #lightbox #lightbox-caption {
  color: #FFFFFF;
}
.blue #lightbox-wrapper #lightbox-container #lightbox .fa-times, .blue #lightbox-wrapper #lightbox-container #lightbox .arrow {
  color: #FFFFFF;
}
.blue #lightbox-wrapper #lightbox-container #lightbox .fa-times:hover, .blue #lightbox-wrapper #lightbox-container #lightbox .arrow:hover {
  color: #555cde;
}
.blue #thank-you .content .box, .blue #error404 .content .box {
  background-color: #283074;
}
.blue #thank-you .content .box .inner-wrapper .headline, .blue #thank-you .content .box .inner-wrapper .copy, .blue #error404 .content .box .inner-wrapper .headline, .blue #error404 .content .box .inner-wrapper .copy {
  color: #FFFFFF;
}
.blue #thank-you .content .box .inner-wrapper .button-wrapper .button, .blue #error404 .content .box .inner-wrapper .button-wrapper .button {
  background: #555cde;
}
.blue #thank-you .content .box .inner-wrapper .button-wrapper .button a, .blue #error404 .content .box .inner-wrapper .button-wrapper .button a {
  color: #FFFFFF;
}
.blue #thank-you .content .box .inner-wrapper .button-wrapper .button:hover, .blue #error404 .content .box .inner-wrapper .button-wrapper .button:hover {
  background: #d9e3ed;
}
.blue #thank-you .content .box .inner-wrapper .button-wrapper .button:hover a, .blue #error404 .content .box .inner-wrapper .button-wrapper .button:hover a {
  color: #000000;
}
.blue #floorplans #floor-plan-categories li {
  color: #283074;
}
.blue #floorplans #floor-plan-categories li.active, .blue #floorplans #floor-plan-categories li:hover {
  color: #000000;
}
.blue #floorplans #floor-plan-results {
  background: #FFFFFF;
}
.blue #floorplans #floor-plan-results .unit-wrapper {
  background: #d9e3ed;
}
.blue #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .view-units,
.blue #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .contact {
  background: #000000;
  color: #FFFFFF;
}
.blue #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .view-units a,
.blue #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .contact a {
  color: #FFFFFF;
}
.blue #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .view-units:hover,
.blue #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .contact:hover {
  background: #283074;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details {
  background: #FFFFFF;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .unit-details {
  border-color: #283074;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container .count {
  border-color: #283074;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr {
  background: #d9e3ed;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button {
  background: #555cde;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button a {
  color: #FFFFFF;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button:hover {
  background: #283074;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button:hover a {
  color: #FFFFFF;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr.odd {
  background: #FFFFFF;
}
.blue.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details #disclaimer {
  margin: 20px 0 0;
  text-align: left;
}
.blue #cta-container {
  background-color: #555cde !important;
}
.blue #text-us {
  background-color: #000000 !important;
}
.blue.home .content #row-1 {
  background: #555cde;
}
@media only screen and (min-width: 768px) {
  .blue.home .content #row-1 {
    background: none;
  }
}
