.ease, .turquoise #nav-trigger .trigger-wrap span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.turquoise {
  background: #EAE8DE;
}
.turquoise #slideout #slideout-button-container {
  background: #19D8A9;
  color: #000000;
}
.turquoise #slideout #slideout-content {
  background: #19D8A9;
  color: #000000;
}
.turquoise #slideout #slideout-content .phone a {
  color: #000000;
}
.turquoise #slideout #slideout-content .phone a:hover {
  color: #FFFFFF;
}
.turquoise #slideout #slideout-content .button {
  background: #000000;
}
.turquoise #slideout #slideout-content .button a {
  color: #FFFFFF;
}
.turquoise #slideout #slideout-content .button:hover {
  background: #FFFFFF;
}
.turquoise #slideout #slideout-content .button:hover a {
  color: #000000;
}
.turquoise #header {
  background: #FFFFFF;
}
.turquoise #header .phone a {
  color: #005467;
}
.turquoise #header .phone a:hover {
  color: #B8B6AC;
}
.turquoise #header a.logo-scroll {
  color: #005467;
}
.turquoise #header a.logo-scroll:hover {
  color: #B8B6AC;
}
.turquoise #header .mobile-icon a {
  color: #19D8A9;
}
.turquoise #header #secondary-navigation ul#menu-secondary-menu li a {
  color: #005467;
}
.turquoise #header #secondary-navigation ul#menu-secondary-menu li a:hover {
  color: #B8B6AC;
}
.turquoise #nav-trigger .trigger-wrap span {
  background: #005467;
}
.turquoise #nav-trigger .trigger-wrap:hover span {
  background: #B8B6AC;
}
.turquoise #nav-trigger.active .trigger-wrap span {
  background: #005467;
}
@media only screen and (min-width: 768px) {
  .turquoise #nav-trigger.active .trigger-wrap span {
    background: #FFFFFF;
  }
}
.turquoise #navigation-container {
  background: #005467;
}
.turquoise #navigation-container .inner-container .residents {
  border-top-color: #FFFFFF;
}
.turquoise #navigation-container .inner-container .residents a {
  color: #FFFFFF;
}
.turquoise #navigation-container .inner-container .residents a:hover {
  color: #19D8A9;
}
.turquoise #navigation-container .inner-container .navigation-wrapper {
  border-color: #FFFFFF;
}
.turquoise #navigation-container .inner-container .navigation-wrapper #navigation ul li a {
  color: #FFFFFF;
}
.turquoise #navigation-container .inner-container .navigation-wrapper #navigation ul li a:hover {
  color: #19D8A9;
}
.turquoise #navigation-container .inner-container .navigation-wrapper .social-icons a {
  color: #FFFFFF;
}
.turquoise #navigation-container .inner-container .navigation-wrapper .social-icons a:hover {
  color: #19D8A9;
}
.turquoise #navigation-container .inner-container .mobile-contact-info {
  border-color: #FFFFFF;
}
.turquoise #navigation-container .inner-container .mobile-contact-info .property-name {
  color: #FFFFFF;
}
.turquoise #navigation-container .inner-container .mobile-contact-info .social-icons a, .turquoise #navigation-container .inner-container .mobile-contact-info .address-container a, .turquoise #navigation-container .inner-container .mobile-contact-info .phone a {
  color: #FFFFFF;
}
.turquoise #navigation-container .inner-container .mobile-contact-info .social-icons a:hover, .turquoise #navigation-container .inner-container .mobile-contact-info .address-container a:hover, .turquoise #navigation-container .inner-container .mobile-contact-info .phone a:hover {
  color: #19D8A9;
}
.turquoise #cross-links-pattern.pattern-wrapper {
  background: #005467;
}
.turquoise #cross-links-pattern.pattern-wrapper .pattern {
  background: #B8B6AC;
}
.turquoise .crosslink-block {
  background: #005467;
  color: #FFFFFF;
}
.turquoise .crosslink-block .button-wrapper .button {
  background: #19D8A9;
}
.turquoise .crosslink-block .button-wrapper .button a {
  color: #000000;
}
.turquoise .crosslink-block .button-wrapper .button:hover {
  background: #EAE8DE;
}
.turquoise .contact-form #form_contact-form .frm_error_style, .turquoise .contact-form #form_contact-form .frm_error {
  color: #005467;
}
.turquoise .contact-form #form_contact-form .frm_fields_container .row .frm_form_field input, .turquoise .contact-form #form_contact-form .frm_fields_container .row .frm_form_field textarea {
  border-color: #B8B6AC;
}
.turquoise .contact-form #form_contact-form .frm_fields_container .full-row input, .turquoise .contact-form #form_contact-form .frm_fields_container .full-row textarea {
  border-color: #B8B6AC;
}
.turquoise .contact-form #form_contact-form .frm_fields_container .frm_submit button {
  background: #000000;
  color: #FFFFFF;
}
.turquoise .contact-form #form_contact-form .frm_fields_container .frm_submit button:hover {
  background: #005467;
}
.turquoise #footer-pattern.pattern-wrapper {
  background: #005467;
}
.turquoise #footer-pattern.pattern-wrapper .pattern {
  background: #EAE8DE;
}
.turquoise #footer {
  background: #FFFFFF;
  color: #005467;
}
.turquoise #footer span {
  color: #005467;
}
.turquoise #footer a {
  color: #005467;
}
.turquoise #footer a:hover {
  color: #B8B6AC;
}
.turquoise #footer .social-icons {
  border-color: #005467;
}
.turquoise #hero-image .caption span.default, .turquoise #hero-image .caption span.black {
  color: #000000;
}
.turquoise #hero-image .caption span.white {
  color: #FFFFFF;
}
.turquoise #hero-image .caption span.accent {
  color: #19D8A9;
}
.turquoise #hero-image .caption span.light {
  color: #EAE8DE;
}
.turquoise #hero-image .caption span.medium {
  color: #B8B6AC;
}
.turquoise #hero-image .caption span.dark {
  color: #005467;
}
.turquoise #hero-image .pattern {
  background: #FFFFFF;
}
.turquoise #hero-image.style-1 .caption.default, .turquoise #hero-image.style-1 .caption.accent {
  background: #19D8A9;
}
.turquoise #hero-image.style-1 .caption.black {
  background: #000000;
}
.turquoise #hero-image.style-1 .caption.white {
  background: #FFFFFF;
}
.turquoise #hero-image.style-1 .caption.light {
  background: #EAE8DE;
}
.turquoise #hero-image.style-1 .caption.medium {
  background: #B8B6AC;
}
.turquoise #hero-image.style-1 .caption.dark {
  background: #005467;
}
.turquoise #hero-image.style-2 .caption span.wrapper.default, .turquoise #hero-image.style-2 .caption span.wrapper.accent {
  background: #19D8A9;
  box-shadow: 25px 0 0 #19D8A9, -25px 0 0 #19D8A9;
}
.turquoise #hero-image.style-2 .caption span.wrapper.black {
  background: #000000;
  box-shadow: 25px 0 0 #000000, -25px 0 0 #000000;
}
.turquoise #hero-image.style-2 .caption span.wrapper.white {
  background: #FFFFFF;
  box-shadow: 25px 0 0 #FFFFFF, -25px 0 0 #FFFFFF;
}
.turquoise #hero-image.style-2 .caption span.wrapper.light {
  background: #EAE8DE;
  box-shadow: 25px 0 0 #EAE8DE, -25px 0 0 #EAE8DE;
}
.turquoise #hero-image.style-2 .caption span.wrapper.medium {
  background: #B8B6AC;
  box-shadow: 25px 0 0 #B8B6AC, -25px 0 0 #B8B6AC;
}
.turquoise #hero-image.style-2 .caption span.wrapper.dark {
  background: #005467;
  box-shadow: 25px 0 0 #005467, -25px 0 0 #005467;
}
.turquoise #hero-image.style-2 .caption span.text.default, .turquoise #hero-image.style-2 .caption span.text.black {
  color: #000000;
}
.turquoise #hero-image.style-2 .caption span.text.white {
  color: #FFFFFF;
}
.turquoise #hero-image.style-2 .caption span.text.accent {
  color: #19D8A9;
}
.turquoise #hero-image.style-2 .caption span.text.light {
  color: #EAE8DE;
}
.turquoise #hero-image.style-2 .caption span.text.medium {
  color: #B8B6AC;
}
.turquoise #hero-image.style-2 .caption span.text.dark {
  color: #005467;
}
.turquoise #hero.no-image {
  background: #005467;
}
.turquoise #hero.no-image .pattern {
  background: #B8B6AC;
}
.turquoise #hero.no-image .container .header-content .headline {
  color: #FFFFFF;
}
.turquoise #hero.no-image .container .header-content .copy {
  color: #FFFFFF;
}
.turquoise .block .button {
  background: #000000;
}
.turquoise .block .button a {
  color: #FFFFFF;
}
.turquoise .block .button:hover {
  background: #005467;
}
.turquoise .block.simple-content {
  background: #005467;
}
.turquoise .block.simple-content .headline, .turquoise .block.simple-content .copy {
  color: #FFFFFF;
}
.turquoise .block.simple-content .button {
  background: #19D8A9;
}
.turquoise .block.simple-content .button a {
  color: #000000;
}
.turquoise .block.simple-content .button:hover {
  background: #EAE8DE;
}
.turquoise .block.simple-content .button:hover a {
  color: #000000;
}
.turquoise .block.simple-content.first, .turquoise .block.simple-content.last {
  background: none;
}
.turquoise .block.simple-content.first .headline, .turquoise .block.simple-content.first .copy, .turquoise .block.simple-content.last .headline, .turquoise .block.simple-content.last .copy {
  color: #000000;
}
.turquoise .block.simple-content.first .button, .turquoise .block.simple-content.last .button {
  background: #000000;
}
.turquoise .block.simple-content.first .button a, .turquoise .block.simple-content.last .button a {
  color: #FFFFFF;
}
.turquoise .block.simple-content.first .button a:hover, .turquoise .block.simple-content.last .button a:hover {
  color: #19D8A9;
}
.turquoise .block.floor-plans .floor-plan-container {
  background: #FFFFFF;
}
.turquoise .block.floor-plans .floor-plan-container .floor-plan-carousel .slick-dots li button {
  background: #B8B6AC;
}
.turquoise .block.floor-plans .floor-plan-container .floor-plan-carousel .slick-dots li.slick-active button, .turquoise .block.floor-plans .floor-plan-container .floor-plan-carousel .slick-dots li:hover button {
  background: #19D8A9;
}
.turquoise .block.variable-content .variable-content-content {
  background: #FFFFFF;
}
.turquoise .block.variable-content .variable-content-content .button {
  background: #19D8A9;
}
.turquoise .block.variable-content .variable-content-content .button a {
  color: #000000;
}
.turquoise .block.variable-content .variable-content-content .button:hover {
  background: #005467;
}
.turquoise .block.variable-content .variable-content-content .button:hover a {
  color: #FFFFFF;
}
.turquoise .block.variable-content .variable-content-fill {
  background: #19D8A9;
}
.turquoise .block.variable-content .variable-content-fill-pattern {
  background: #FFFFFF;
}
.turquoise .block.variable-content .variable-content-fill-pattern .pattern {
  background-color: #EAE8DE;
}
.turquoise .block.variable-content .accent-pattern {
  background-color: #FFFFFF;
}
.turquoise .block.pattern-wrapper {
  background: #B8B6AC;
}
.turquoise .block.pattern-wrapper .pattern-bg {
  background-color: #EAE8DE;
}
.turquoise .block.instagram .layout-three .social-wrap, .turquoise .block.instagram .layout-six .social-wrap {
  background: #FFFFFF;
}
.turquoise .block.instagram .layout-three .social-wrap .social-wrap-pattern, .turquoise .block.instagram .layout-six .social-wrap .social-wrap-pattern {
  background: #EAE8DE;
}
.turquoise .block.instagram .layout-three .social-wrap .social-wrap-inner, .turquoise .block.instagram .layout-six .social-wrap .social-wrap-inner {
  background: #19D8A9;
}
.turquoise .block.instagram .layout-three .social-wrap .social-wrap-inner .social-icons a, .turquoise .block.instagram .layout-six .social-wrap .social-wrap-inner .social-icons a {
  color: #000000;
}
.turquoise .block.instagram .layout-three .social-wrap .social-wrap-inner .social-icons a:hover, .turquoise .block.instagram .layout-six .social-wrap .social-wrap-inner .social-icons a:hover {
  color: #FFFFFF;
}
.turquoise #map-container .category-filter li {
  color: #005467;
}
.turquoise #map-container .category-filter li.active, .turquoise #map-container .category-filter li:hover {
  color: #000000;
  text-decoration: underline;
}
.turquoise #map-container .map-wrap {
  border-top: 2px solid #005467;
  border-bottom: 2px solid #005467;
  border-left: 2px solid #005467;
}
.turquoise #map-container .map-wrap ul#categories {
  background: #005467;
}
.turquoise #map-container .map-wrap ul#categories span {
  color: #FFFFFF;
}
.turquoise #map-container .map-wrap ul#categories ul.children li:hover span, .turquoise #map-container .map-wrap ul#categories ul.children li.active span {
  color: #19D8A9;
  font-weight: 900;
}
.turquoise #blog .content .categories ul.categories-list li.cat-item, .turquoise #category .content .categories ul.categories-list li.cat-item {
  color: #005467;
}
.turquoise #blog .content .categories ul.categories-list li.cat-item a, .turquoise #category .content .categories ul.categories-list li.cat-item a {
  color: #005467;
}
.turquoise #blog .content .categories ul.categories-list li.cat-item a:hover, .turquoise #category .content .categories ul.categories-list li.cat-item a:hover {
  color: #000000;
  text-decoration: underline;
}
.turquoise #blog .content .posts-container .post .post-info, .turquoise #category .content .posts-container .post .post-info {
  color: #000000;
}
.turquoise #blog .content .posts-container .post .post-info a.post-link, .turquoise #category .content .posts-container .post .post-info a.post-link {
  color: #000000;
}
.turquoise #blog .content .posts-container .post .post-info a.post-link:hover, .turquoise #category .content .posts-container .post .post-info a.post-link:hover {
  color: #B8B6AC;
}
.turquoise #blog .content .posts-container .post .post-info a.read-more, .turquoise #category .content .posts-container .post .post-info a.read-more {
  font-weight: 900;
  color: #000000;
}
.turquoise #blog .content .posts-container .post .post-info a.read-more:hover, .turquoise #category .content .posts-container .post .post-info a.read-more:hover {
  color: #B8B6AC;
}
.turquoise #single-post .post-wrapper .post-content .left .block.simple-content {
  background: none;
}
.turquoise #single-post .post-wrapper .post-content .left .block.simple-content .headline, .turquoise #single-post .post-wrapper .post-content .left .block.simple-content .copy {
  color: #000000;
}
.turquoise #single-post .post-wrapper .post-content .left .block.content-with-image .copy .in-content-image .img-caption {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}
.turquoise #single-post .post-wrapper .post-content .right #back-to-blog a {
  color: #000000;
}
.turquoise #single-post .post-wrapper .post-content .right #back-to-blog a:hover {
  color: #B8B6AC;
}
.turquoise #single-post .post-wrapper .post-content .right .categories h2 {
  border-color: #000000;
}
.turquoise #single-post .post-wrapper .post-content .right .categories ul.categories-list li a {
  color: #000000;
}
.turquoise #single-post .post-wrapper .post-content .right .categories ul.categories-list li a:hover {
  color: #B8B6AC;
}
.turquoise #contact .content .contact-info h2.label {
  color: #000000;
}
.turquoise #contact .content .contact-info .property-info .address-container a {
  color: #000000;
}
.turquoise #contact .content .contact-info .property-info .address-container a:hover {
  color: #B8B6AC;
}
.turquoise #contact .content .contact-info .property-info .phone a {
  color: #000000;
}
.turquoise #contact .content .contact-info .property-info .phone a:hover {
  color: #B8B6AC;
}
.turquoise #contact .content .contact-info .property-info .social-icons a.icon {
  color: #000000;
}
.turquoise #contact .content .contact-info .property-info .social-icons a.icon:hover {
  color: #B8B6AC;
}
.turquoise #contact .content .contact-info .office-hours {
  color: #000000;
}
.turquoise #contact .content #kingsley-content .average-rating .stars > span {
  color: #005467;
}
.turquoise #contact .content #kingsley-content .review-wrapper {
  border-color: #B8B6AC;
}
.turquoise #contact .content #kingsley-content .review-wrapper .slick-list .review .star-container .stars span {
  color: #005467;
}
.turquoise #thank-you .pattern, .turquoise #error404 .pattern {
  background: #FFFFFF;
}
.turquoise .pet-policy.block .right .pet-policy .policy-row {
  color: #000000;
}
.turquoise #gallery-header-content {
  background: #FFFFFF;
}
.turquoise #gallery {
  background: #FFFFFF;
}
.turquoise #gallery ul#categories {
  color: #B8B6AC;
}
.turquoise #gallery ul#categories li.active {
  color: #000000;
}
.turquoise #gallery #bottom-content {
  background: #EAE8DE;
}
.turquoise #videos-wrapper {
  background: #EAE8DE;
}
.turquoise #tours-wrapper {
  background: #FFFFFF;
}
.turquoise #tours-wrapper .tour-container .tours-pattern {
  background: #EAE8DE;
}
.turquoise #slider-gallery .slider-wrapper #image-gallery .slick-list .slick-track .slide .caption {
  background: rgba(234, 232, 222, 0.98);
}
.turquoise #lightbox-wrapper #lightbox-container #lightbox #lightbox-caption {
  color: #FFFFFF;
}
.turquoise #lightbox-wrapper #lightbox-container #lightbox .fa-times, .turquoise #lightbox-wrapper #lightbox-container #lightbox .arrow {
  color: #FFFFFF;
}
.turquoise #lightbox-wrapper #lightbox-container #lightbox .fa-times:hover, .turquoise #lightbox-wrapper #lightbox-container #lightbox .arrow:hover {
  color: #19D8A9;
}
.turquoise #thank-you .content .box, .turquoise #error404 .content .box {
  background-color: #005467;
}
.turquoise #thank-you .content .box .inner-wrapper .headline, .turquoise #thank-you .content .box .inner-wrapper .copy, .turquoise #error404 .content .box .inner-wrapper .headline, .turquoise #error404 .content .box .inner-wrapper .copy {
  color: #FFFFFF;
}
.turquoise #thank-you .content .box .inner-wrapper .button-wrapper .button, .turquoise #error404 .content .box .inner-wrapper .button-wrapper .button {
  background: #19D8A9;
}
.turquoise #thank-you .content .box .inner-wrapper .button-wrapper .button a, .turquoise #error404 .content .box .inner-wrapper .button-wrapper .button a {
  color: #000000;
}
.turquoise #thank-you .content .box .inner-wrapper .button-wrapper .button:hover, .turquoise #error404 .content .box .inner-wrapper .button-wrapper .button:hover {
  background: #EAE8DE;
}
.turquoise #floorplans #floor-plan-categories li {
  color: #005467;
}
.turquoise #floorplans #floor-plan-categories li.active, .turquoise #floorplans #floor-plan-categories li:hover {
  color: #000000;
}
.turquoise #floorplans #floor-plan-results {
  background: #FFFFFF;
}
.turquoise #floorplans #floor-plan-results .unit-wrapper {
  background: #EAE8DE;
}
.turquoise #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .view-units,
.turquoise #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .contact {
  background: #000000;
  color: #FFFFFF;
}
.turquoise #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .view-units a,
.turquoise #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .contact a {
  color: #FFFFFF;
}
.turquoise #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .view-units:hover,
.turquoise #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .contact:hover {
  background: #005467;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details {
  background: #FFFFFF;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .unit-details {
  border-color: #005467;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container .count {
  border-color: #005467;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr {
  background: #EAE8DE;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button {
  background: #19D8A9;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button a {
  color: #000000;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button:hover {
  background: #005467;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button:hover a {
  color: #FFFFFF;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr.odd {
  background: #FFFFFF;
}
.turquoise.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details #disclaimer {
  margin: 20px 0 0;
  text-align: left;
}
.turquoise #cta-container {
  background-color: #19D8A9 !important;
}
.turquoise #text-us {
  background-color: #000000 !important;
}
.turquoise.home .content #row-1 {
  background: #19D8A9;
}
@media only screen and (min-width: 768px) {
  .turquoise.home .content #row-1 {
    background: none;
  }
}
