.ease, .yellow #nav-trigger .trigger-wrap span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.yellow {
  background: #e9f1f1;
}
.yellow #slideout #slideout-button-container {
  background: #eee117;
  color: #000000;
}
.yellow #slideout #slideout-content {
  background: #eee117;
  color: #000000;
}
.yellow #slideout #slideout-content .phone a {
  color: #000000;
}
.yellow #slideout #slideout-content .phone a:hover {
  color: #FFFFFF;
}
.yellow #slideout #slideout-content .button {
  background: #000000;
}
.yellow #slideout #slideout-content .button a {
  color: #FFFFFF;
}
.yellow #slideout #slideout-content .button:hover {
  background: #FFFFFF;
}
.yellow #slideout #slideout-content .button:hover a {
  color: #000000;
}
.yellow #header {
  background: #FFFFFF;
}
.yellow #header .phone a {
  color: #2a6171;
}
.yellow #header .phone a:hover {
  color: #90c7c2;
}
.yellow #header a.logo-scroll {
  color: #2a6171;
}
.yellow #header a.logo-scroll:hover {
  color: #90c7c2;
}
.yellow #header .mobile-icon a {
  color: #eee117;
}
.yellow #header #secondary-navigation ul#menu-secondary-menu li a {
  color: #2a6171;
}
.yellow #header #secondary-navigation ul#menu-secondary-menu li a:hover {
  color: #90c7c2;
}
.yellow #nav-trigger .trigger-wrap span {
  background: #2a6171;
}
.yellow #nav-trigger .trigger-wrap:hover span {
  background: #90c7c2;
}
.yellow #nav-trigger.active .trigger-wrap span {
  background: #2a6171;
}
@media only screen and (min-width: 768px) {
  .yellow #nav-trigger.active .trigger-wrap span {
    background: #FFFFFF;
  }
}
.yellow #navigation-container {
  background: #2a6171;
}
.yellow #navigation-container .inner-container .residents {
  border-top-color: #FFFFFF;
}
.yellow #navigation-container .inner-container .residents a {
  color: #FFFFFF;
}
.yellow #navigation-container .inner-container .residents a:hover {
  color: #eee117;
}
.yellow #navigation-container .inner-container .navigation-wrapper {
  border-color: #FFFFFF;
}
.yellow #navigation-container .inner-container .navigation-wrapper #navigation ul li a {
  color: #FFFFFF;
}
.yellow #navigation-container .inner-container .navigation-wrapper #navigation ul li a:hover {
  color: #eee117;
}
.yellow #navigation-container .inner-container .navigation-wrapper .social-icons a {
  color: #FFFFFF;
}
.yellow #navigation-container .inner-container .navigation-wrapper .social-icons a:hover {
  color: #eee117;
}
.yellow #navigation-container .inner-container .mobile-contact-info {
  border-color: #FFFFFF;
}
.yellow #navigation-container .inner-container .mobile-contact-info .property-name {
  color: #FFFFFF;
}
.yellow #navigation-container .inner-container .mobile-contact-info .social-icons a, .yellow #navigation-container .inner-container .mobile-contact-info .address-container a, .yellow #navigation-container .inner-container .mobile-contact-info .phone a {
  color: #FFFFFF;
}
.yellow #navigation-container .inner-container .mobile-contact-info .social-icons a:hover, .yellow #navigation-container .inner-container .mobile-contact-info .address-container a:hover, .yellow #navigation-container .inner-container .mobile-contact-info .phone a:hover {
  color: #eee117;
}
.yellow #cross-links-pattern.pattern-wrapper {
  background: #2a6171;
}
.yellow #cross-links-pattern.pattern-wrapper .pattern {
  background: #90c7c2;
}
.yellow .crosslink-block {
  background: #2a6171;
  color: #FFFFFF;
}
.yellow .crosslink-block .button-wrapper .button {
  background: #eee117;
}
.yellow .crosslink-block .button-wrapper .button a {
  color: #000000;
}
.yellow .crosslink-block .button-wrapper .button:hover {
  background: #e9f1f1;
}
.yellow .contact-form #form_contact-form .frm_error_style, .yellow .contact-form #form_contact-form .frm_error {
  color: #2a6171;
}
.yellow .contact-form #form_contact-form .frm_fields_container .row .frm_form_field input, .yellow .contact-form #form_contact-form .frm_fields_container .row .frm_form_field textarea {
  border-color: #90c7c2;
}
.yellow .contact-form #form_contact-form .frm_fields_container .full-row input, .yellow .contact-form #form_contact-form .frm_fields_container .full-row textarea {
  border-color: #90c7c2;
}
.yellow .contact-form #form_contact-form .frm_fields_container .frm_submit button {
  background: #000000;
  color: #FFFFFF;
}
.yellow .contact-form #form_contact-form .frm_fields_container .frm_submit button:hover {
  background: #2a6171;
}
.yellow #footer-pattern.pattern-wrapper {
  background: #2a6171;
}
.yellow #footer-pattern.pattern-wrapper .pattern {
  background: #e9f1f1;
}
.yellow #footer {
  background: #FFFFFF;
  color: #2a6171;
}
.yellow #footer span {
  color: #2a6171;
}
.yellow #footer a {
  color: #2a6171;
}
.yellow #footer a:hover {
  color: #90c7c2;
}
.yellow #footer .social-icons {
  border-color: #2a6171;
}
.yellow #hero-image .caption span.default, .yellow #hero-image .caption span.black {
  color: #000000;
}
.yellow #hero-image .caption span.white {
  color: #FFFFFF;
}
.yellow #hero-image .caption span.accent {
  color: #eee117;
}
.yellow #hero-image .caption span.light {
  color: #e9f1f1;
}
.yellow #hero-image .caption span.medium {
  color: #90c7c2;
}
.yellow #hero-image .caption span.dark {
  color: #2a6171;
}
.yellow #hero-image .pattern {
  background: #FFFFFF;
}
.yellow #hero-image.style-1 .caption.default, .yellow #hero-image.style-1 .caption.accent {
  background: #eee117;
}
.yellow #hero-image.style-1 .caption.black {
  background: #000000;
}
.yellow #hero-image.style-1 .caption.white {
  background: #FFFFFF;
}
.yellow #hero-image.style-1 .caption.light {
  background: #e9f1f1;
}
.yellow #hero-image.style-1 .caption.medium {
  background: #90c7c2;
}
.yellow #hero-image.style-1 .caption.dark {
  background: #2a6171;
}
.yellow #hero-image.style-2 .caption span.wrapper.default, .yellow #hero-image.style-2 .caption span.wrapper.accent {
  background: #eee117;
  box-shadow: 25px 0 0 #eee117, -25px 0 0 #eee117;
}
.yellow #hero-image.style-2 .caption span.wrapper.black {
  background: #000000;
  box-shadow: 25px 0 0 #000000, -25px 0 0 #000000;
}
.yellow #hero-image.style-2 .caption span.wrapper.white {
  background: #FFFFFF;
  box-shadow: 25px 0 0 #FFFFFF, -25px 0 0 #FFFFFF;
}
.yellow #hero-image.style-2 .caption span.wrapper.light {
  background: #e9f1f1;
  box-shadow: 25px 0 0 #e9f1f1, -25px 0 0 #e9f1f1;
}
.yellow #hero-image.style-2 .caption span.wrapper.medium {
  background: #90c7c2;
  box-shadow: 25px 0 0 #90c7c2, -25px 0 0 #90c7c2;
}
.yellow #hero-image.style-2 .caption span.wrapper.dark {
  background: #2a6171;
  box-shadow: 25px 0 0 #2a6171, -25px 0 0 #2a6171;
}
.yellow #hero-image.style-2 .caption span.text.default, .yellow #hero-image.style-2 .caption span.text.black {
  color: #000000;
}
.yellow #hero-image.style-2 .caption span.text.white {
  color: #FFFFFF;
}
.yellow #hero-image.style-2 .caption span.text.accent {
  color: #eee117;
}
.yellow #hero-image.style-2 .caption span.text.light {
  color: #e9f1f1;
}
.yellow #hero-image.style-2 .caption span.text.medium {
  color: #90c7c2;
}
.yellow #hero-image.style-2 .caption span.text.dark {
  color: #2a6171;
}
.yellow #hero.no-image {
  background: #2a6171;
}
.yellow #hero.no-image .pattern {
  background: #90c7c2;
}
.yellow #hero.no-image .container .header-content .headline {
  color: #FFFFFF;
}
.yellow #hero.no-image .container .header-content .copy {
  color: #FFFFFF;
}
.yellow .block .button {
  background: #000000;
}
.yellow .block .button a {
  color: #FFFFFF;
}
.yellow .block .button:hover {
  background: #2a6171;
}
.yellow .block.simple-content {
  background: #2a6171;
}
.yellow .block.simple-content .headline, .yellow .block.simple-content .copy {
  color: #FFFFFF;
}
.yellow .block.simple-content .button {
  background: #eee117;
}
.yellow .block.simple-content .button a {
  color: #000000;
}
.yellow .block.simple-content .button:hover {
  background: #e9f1f1;
}
.yellow .block.simple-content .button:hover a {
  color: #000000;
}
.yellow .block.simple-content.first, .yellow .block.simple-content.last {
  background: none;
}
.yellow .block.simple-content.first .headline, .yellow .block.simple-content.first .copy, .yellow .block.simple-content.last .headline, .yellow .block.simple-content.last .copy {
  color: #000000;
}
.yellow .block.simple-content.first .button, .yellow .block.simple-content.last .button {
  background: #000000;
}
.yellow .block.simple-content.first .button a, .yellow .block.simple-content.last .button a {
  color: #FFFFFF;
}
.yellow .block.simple-content.first .button a:hover, .yellow .block.simple-content.last .button a:hover {
  color: #eee117;
}
.yellow .block.floor-plans .floor-plan-container {
  background: #FFFFFF;
}
.yellow .block.floor-plans .floor-plan-container .floor-plan-carousel .slick-dots li button {
  background: #90c7c2;
}
.yellow .block.floor-plans .floor-plan-container .floor-plan-carousel .slick-dots li.slick-active button, .yellow .block.floor-plans .floor-plan-container .floor-plan-carousel .slick-dots li:hover button {
  background: #eee117;
}
.yellow .block.variable-content .variable-content-content {
  background: #FFFFFF;
}
.yellow .block.variable-content .variable-content-content .button {
  background: #eee117;
}
.yellow .block.variable-content .variable-content-content .button a {
  color: #000000;
}
.yellow .block.variable-content .variable-content-content .button:hover {
  background: #2a6171;
}
.yellow .block.variable-content .variable-content-content .button:hover a {
  color: #FFFFFF;
}
.yellow .block.variable-content .variable-content-fill {
  background: #eee117;
}
.yellow .block.variable-content .variable-content-fill-pattern {
  background: #FFFFFF;
}
.yellow .block.variable-content .variable-content-fill-pattern .pattern {
  background-color: #e9f1f1;
}
.yellow .block.variable-content .accent-pattern {
  background-color: #FFFFFF;
}
.yellow .block.pattern-wrapper {
  background: #90c7c2;
}
.yellow .block.pattern-wrapper .pattern-bg {
  background-color: #e9f1f1;
}
.yellow .block.instagram .layout-three .social-wrap, .yellow .block.instagram .layout-six .social-wrap {
  background: #FFFFFF;
}
.yellow .block.instagram .layout-three .social-wrap .social-wrap-pattern, .yellow .block.instagram .layout-six .social-wrap .social-wrap-pattern {
  background: #e9f1f1;
}
.yellow .block.instagram .layout-three .social-wrap .social-wrap-inner, .yellow .block.instagram .layout-six .social-wrap .social-wrap-inner {
  background: #eee117;
}
.yellow .block.instagram .layout-three .social-wrap .social-wrap-inner .social-icons a, .yellow .block.instagram .layout-six .social-wrap .social-wrap-inner .social-icons a {
  color: #000000;
}
.yellow .block.instagram .layout-three .social-wrap .social-wrap-inner .social-icons a:hover, .yellow .block.instagram .layout-six .social-wrap .social-wrap-inner .social-icons a:hover {
  color: #FFFFFF;
}
.yellow #map-container .category-filter li {
  color: #2a6171;
}
.yellow #map-container .category-filter li.active, .yellow #map-container .category-filter li:hover {
  color: #000000;
  text-decoration: underline;
}
.yellow #map-container .map-wrap {
  border-top: 2px solid #2a6171;
  border-bottom: 2px solid #2a6171;
  border-left: 2px solid #2a6171;
}
.yellow #map-container .map-wrap ul#categories {
  background: #2a6171;
}
.yellow #map-container .map-wrap ul#categories span {
  color: #FFFFFF;
}
.yellow #map-container .map-wrap ul#categories ul.children li:hover span, .yellow #map-container .map-wrap ul#categories ul.children li.active span {
  color: #eee117;
  font-weight: 900;
}
.yellow #blog .content .categories ul.categories-list li.cat-item, .yellow #category .content .categories ul.categories-list li.cat-item {
  color: #2a6171;
}
.yellow #blog .content .categories ul.categories-list li.cat-item a, .yellow #category .content .categories ul.categories-list li.cat-item a {
  color: #2a6171;
}
.yellow #blog .content .categories ul.categories-list li.cat-item a:hover, .yellow #category .content .categories ul.categories-list li.cat-item a:hover {
  color: #000000;
  text-decoration: underline;
}
.yellow #blog .content .posts-container .post .post-info, .yellow #category .content .posts-container .post .post-info {
  color: #000000;
}
.yellow #blog .content .posts-container .post .post-info a.post-link, .yellow #category .content .posts-container .post .post-info a.post-link {
  color: #000000;
}
.yellow #blog .content .posts-container .post .post-info a.post-link:hover, .yellow #category .content .posts-container .post .post-info a.post-link:hover {
  color: #90c7c2;
}
.yellow #blog .content .posts-container .post .post-info a.read-more, .yellow #category .content .posts-container .post .post-info a.read-more {
  font-weight: 900;
  color: #000000;
}
.yellow #blog .content .posts-container .post .post-info a.read-more:hover, .yellow #category .content .posts-container .post .post-info a.read-more:hover {
  color: #90c7c2;
}
.yellow #single-post .post-wrapper .post-content .left .block.simple-content {
  background: none;
}
.yellow #single-post .post-wrapper .post-content .left .block.simple-content .headline, .yellow #single-post .post-wrapper .post-content .left .block.simple-content .copy {
  color: #000000;
}
.yellow #single-post .post-wrapper .post-content .left .block.content-with-image .copy .in-content-image .img-caption {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}
.yellow #single-post .post-wrapper .post-content .right #back-to-blog a {
  color: #000000;
}
.yellow #single-post .post-wrapper .post-content .right #back-to-blog a:hover {
  color: #90c7c2;
}
.yellow #single-post .post-wrapper .post-content .right .categories h2 {
  border-color: #000000;
}
.yellow #single-post .post-wrapper .post-content .right .categories ul.categories-list li a {
  color: #000000;
}
.yellow #single-post .post-wrapper .post-content .right .categories ul.categories-list li a:hover {
  color: #90c7c2;
}
.yellow #contact .content .contact-info h2.label {
  color: #000000;
}
.yellow #contact .content .contact-info .property-info .address-container a {
  color: #000000;
}
.yellow #contact .content .contact-info .property-info .address-container a:hover {
  color: #90c7c2;
}
.yellow #contact .content .contact-info .property-info .phone a {
  color: #000000;
}
.yellow #contact .content .contact-info .property-info .phone a:hover {
  color: #90c7c2;
}
.yellow #contact .content .contact-info .property-info .social-icons a.icon {
  color: #000000;
}
.yellow #contact .content .contact-info .property-info .social-icons a.icon:hover {
  color: #90c7c2;
}
.yellow #contact .content .contact-info .office-hours {
  color: #000000;
}
.yellow #contact .content #kingsley-content .average-rating .stars > span {
  color: #2a6171;
}
.yellow #contact .content #kingsley-content .review-wrapper {
  border-color: #90c7c2;
}
.yellow #contact .content #kingsley-content .review-wrapper .slick-list .review .star-container .stars span {
  color: #2a6171;
}
.yellow #thank-you .pattern, .yellow #error404 .pattern {
  background: #FFFFFF;
}
.yellow .pet-policy.block .right .pet-policy .policy-row {
  color: #000000;
}
.yellow #gallery-header-content {
  background: #FFFFFF;
}
.yellow #gallery {
  background: #FFFFFF;
}
.yellow #gallery ul#categories {
  color: #90c7c2;
}
.yellow #gallery ul#categories li.active {
  color: #000000;
}
.yellow #gallery #bottom-content {
  background: #e9f1f1;
}
.yellow #videos-wrapper {
  background: #e9f1f1;
}
.yellow #tours-wrapper {
  background: #FFFFFF;
}
.yellow #tours-wrapper .tour-container .tours-pattern {
  background: #e9f1f1;
}
.yellow #slider-gallery .slider-wrapper #image-gallery .slick-list .slick-track .slide .caption {
  background: rgba(233, 241, 241, 0.98);
}
.yellow #lightbox-wrapper #lightbox-container #lightbox #lightbox-caption {
  color: #FFFFFF;
}
.yellow #lightbox-wrapper #lightbox-container #lightbox .fa-times, .yellow #lightbox-wrapper #lightbox-container #lightbox .arrow {
  color: #FFFFFF;
}
.yellow #lightbox-wrapper #lightbox-container #lightbox .fa-times:hover, .yellow #lightbox-wrapper #lightbox-container #lightbox .arrow:hover {
  color: #eee117;
}
.yellow #thank-you .content .box, .yellow #error404 .content .box {
  background-color: #2a6171;
}
.yellow #thank-you .content .box .inner-wrapper .headline, .yellow #thank-you .content .box .inner-wrapper .copy, .yellow #error404 .content .box .inner-wrapper .headline, .yellow #error404 .content .box .inner-wrapper .copy {
  color: #FFFFFF;
}
.yellow #thank-you .content .box .inner-wrapper .button-wrapper .button, .yellow #error404 .content .box .inner-wrapper .button-wrapper .button {
  background: #eee117;
}
.yellow #thank-you .content .box .inner-wrapper .button-wrapper .button a, .yellow #error404 .content .box .inner-wrapper .button-wrapper .button a {
  color: #000000;
}
.yellow #thank-you .content .box .inner-wrapper .button-wrapper .button:hover, .yellow #error404 .content .box .inner-wrapper .button-wrapper .button:hover {
  background: #e9f1f1;
}
.yellow #floorplans #floor-plan-categories li {
  color: #2a6171;
}
.yellow #floorplans #floor-plan-categories li.active, .yellow #floorplans #floor-plan-categories li:hover {
  color: #000000;
}
.yellow #floorplans #floor-plan-results {
  background: #FFFFFF;
}
.yellow #floorplans #floor-plan-results .unit-wrapper {
  background: #e9f1f1;
}
.yellow #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .view-units,
.yellow #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .contact {
  background: #000000;
  color: #FFFFFF;
}
.yellow #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .view-units a,
.yellow #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .contact a {
  color: #FFFFFF;
}
.yellow #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .view-units:hover,
.yellow #floorplans #floor-plan-results .unit-wrapper .bottom-container .links-container .contact:hover {
  background: #2a6171;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details {
  background: #FFFFFF;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .unit-details {
  border-color: #2a6171;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container .count {
  border-color: #2a6171;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr {
  background: #e9f1f1;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button {
  background: #eee117;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button a {
  color: #000000;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button:hover {
  background: #2a6171;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr .apply .button:hover a {
  color: #FFFFFF;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details .available-units-container #results #results-table .unit-type-tr.odd {
  background: #FFFFFF;
}
.yellow.page-template-floor-plans #lightbox-wrapper #lightbox-container #lightbox .element-container .unit-type-details #disclaimer {
  margin: 20px 0 0;
  text-align: left;
}
.yellow #cta-container {
  background-color: #eee117 !important;
}
.yellow #text-us {
  background-color: #000000 !important;
}
.yellow.home .content #row-1 {
  background: #eee117;
}
@media only screen and (min-width: 768px) {
  .yellow.home .content #row-1 {
    background: none;
  }
}
